[% WRAPPER 'include/layout.tt' %]

<h1>GCM Sample</h1>

<form action="/send" method="POST">
    <textarea id="message" name="message" class="span10" cols="30" rows="10"></textarea>
    <div class="action">
        <button class="btn btn-primary" type="submit">送信</button>
    </div>
</form>

[% END %]
